manuscript/2025_HabEstrogen.aux
manuscript/2025_HabEstrogen.bbl
manuscript/2025_HabEstrogen.blg
manuscript/2025_HabEstrogen.fdb_latexmk
manuscript/2025_HabEstrogen.fls
manuscript/2025_HabEstrogen.log
manuscript/2025_HabEstrogen.out
manuscript/2025_HabEstrogen.suppinfo
manuscript/2025_HabEstrogen.synctex.gz
code/__pycache__/FishTrack.cpython-312.pyc
manuscript/2025_HabEstrogen.aux
manuscript/2025_HabEstrogen.blg
manuscript/2025_HabEstrogen.fdb_latexmk
manuscript/2025_HabEstrogen.fls
manuscript/2025_HabEstrogen.log
manuscript/2025_HabEstrogen.synctex.gz
